In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('./workflow_duration.csv', sep=';')
data

,Total time,Billable time,Validation,Provision,Setup-and-Run,Evaluation,Tear-down,Time
0,23m 51s,28m,8s,2m 30s,17m 28s,30s,2m 20s,19:22
1,26m 39s,30m,7s,2m 28s,19m 45s,37s,2m 49s,19:55
2,17m 47s,22m,10s,2m 34s,9m 59s,35s,3m 32s,21:04
3,17m 24s,23m,4s,2m 18s,9m 14s,36s,4m 2s,16:30
4,15m 34s,20m,9s,2m 56s,7m 46s,29s,3m 1s,20:19

In [2]:
def convert_to_seconds(time_str):
    minutes, seconds = 0, 0
    if 'm' in time_str:
        parts = time_str.split('m')
        minutes = int(parts[0])
        seconds = int(parts[1].strip('s'))
    else:
        seconds = int(time_str.strip('s'))
    return minutes * 60 + seconds

workflows = data[['Validation', 'Provision', 'Setup-and-Run', 'Evaluation', 'Tear-down']] 
workflows_in_sec = {workflow: [convert_to_seconds(time_str) for time_str in times] for workflow, times in workflows.items()}

In [3]:
averages = {workflow: np.mean(times) for workflow, times in workflows_in_sec.items()}
std_devs = {workflow: np.std(times, ddof=1) for workflow, times in workflows_in_sec.items()}
averages, std_devs

({'Validation': 7.6,
  'Provision': 153.2,
  'Setup-and-Run': 770.4,
  'Evaluation': 33.4,
  'Tear-down': 188.8},
 {'Validation': 2.3021728866442674,
  'Provision': 14.042791745233567,
  'Setup-and-Run': 323.1954517006698,
  'Evaluation': 3.646916505762094,
  'Tear-down': 39.378928375464966})